<!DOCTYPE html>
<html lang="en">
<%- include('../../components/header') %>
<body>
    <%- include('../../components/navbar') %>
    
    <div class="container">
        <h2>Reports</h2>
        <p>Administrative reports and analytics for the Boarding School Visiting System.</p>
        <div class="reports-section">
            <h3>Visit Statistics</h3>
            <p>Reports will be available here.</p>
        </div>
    </div>
    
    <%- include('../../components/footer') %>
    <script src="/js/main.js"></script>
</body>
</html>
