<!DOCTYPE html>
<html lang="en">
<%- include('../../components/header') %>
<body>
    <%- include('../../components/navbar') %>
    
    <div class="container">
        <h2>Tutor Reports</h2>
        <p>Tutor reports and analytics.</p>
        <div class="reports-section">
            <p>Reports will be displayed here.</p>
        </div>
    </div>
    
    <%- include('../../components/footer') %>
    <script src="/js/main.js"></script>
</body>
</html>
