<!DOCTYPE html>
<html lang="en">
<%- include('../components/header') %>
<body>
    <%- include('../components/navbar') %>
    
    <div class="container error-container">
        <div class="error-box">
            <h1>404</h1>
            <h2>Page Not Found</h2>
            <p>The page you are looking for does not exist.</p>
            <a href="/" class="btn btn-primary">Go to Home</a>
        </div>
    </div>
    
    <%- include('../components/footer') %>
</body>
</html>
